!!! 5
%head
	%title Throwdown

%body
	%h1 Throwdown! It's a downright battle
	%p We'll give you 2 nouns and 1 adjective, you pick the winner.

	#matchup
		%p 
			%button noun A
			%strong= @adjective
			%button noun B