!!! 5
%html
	%head
		%title Throwdown
		%link(rel="stylesheet" href="css/site.css")
	%body
		#wrapper
			=styled_flash
			#header
				%h1 Throwdown
				%h2 A Simple Comparison app

			#content
				=yield

			#footer
				%p
					Sam Moore &copy; 2013