!!! 5
%html
	%head
		%meta(name="viewport" content="width=device-width, initial-scale=1.0")
		%title Throwdown
		%link(rel="stylesheet" href="css/site.css")
	%body
		.container-narrow
			.masthead
				%ul.nav.nav-pills.pull-right
					%li.active
						%a(href="/") Home
				
				%h3.muted Throwdown

				%hr

				=show_alert

				.row-fluid
					=yield

				%hr

				%footer.footer
					%p
						&copy; Sam Moore 2013